*{
    box-sizing: border-box;
}

body{
    background-color: #eee;
}

#container{
    width: 50%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header #header-img{
    width: 100%;
    height: auto;
    max-width: 300px;
    
}
header #nav-bar ul{
    display: flex;
    flex-direction: row;
    padding: 20px 90px 20px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header #nav-bar ul li{
    list-style: none;
    margin: 0 10px;
}
header #nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#welcome-section h1{
    font-size: 20px;
}

#form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#form input{
    margin: 10px 0;
}

.button{
    background-color: #f1c40f;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
}

#form-email{
    padding: 5px;
    width: 300px;
    max-width: 300px;
}
#features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.feature{
    display: flex;
}

i{

    color: darkorange;
    padding: 20px;
    text-align: center;
}

.feature-header{
    margin: 10px 0;
}
.feature-header h2{
    margin: 0;
    margin-bottom: 5px;
}

.feature-header p{
    margin: 0;
    margin-top: 5px;
}

#video-container{
    margin: 100px 0;
    text-align: center;
}

#pricing{
    display: flex;
    justify-content: center;
}

.card{
    border: 1px solid #000;
    margin: 0 20px;
    text-align: center;
    width: calc(100%/3);
    min-width: 200px;
    text-align: center;
    align-items: center;
}

.card-header{
    background-color: #ddd;
    padding: 20px;
}

.card-body ul{
    text-align: center;
    padding-right: 40px;
}

.card-body li{
    list-style: none;
}

.card-body button{
    margin-bottom: 10px;
}

.card-body h3{
    padding-right: 5px;
}

footer{
    background-color: #ddd;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
}

footer ul{
    display: flex;
    margin-right: 15px;
}

footer ul li{
    list-style: none;
    margin: 0 5px;

}

footer ul li a{
    text-decoration: none;
    color: #000;

}

footer p{
    margin-right:  20px;
}