body{
    background-color: #eee;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header #header-img{
    width: 100%;
    height: auto;
    max-width: 300px;
    
}
header #nav-bar ul{
    display: flex;
    flex-direction: row;
    padding: 20px 90px 20px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header #nav-bar ul li{
    list-style: none;
    margin: 0 10px;
}
header #nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#welcome-section h1{
    font-size: 20px;
}

#form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#form input{
    margin: 10px 0;
}

.button{
    background-color: #f1c40f;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
}

#form-email{
    padding: 5px;
    width: 300px;
    max-width: 300px;
}
#features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.feature{
    display: flex;
}